:root {
  --orange: #fea301;
  --blue: #01acfd;
  --aqua: #05d4df;
  --purple: #5d58ef;
}
body {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.btn {
  border: none;
  border-radius: 12px;
  padding: 10px 60px;
}
a {
  text-decoration: none;
  color: rgb(237, 228, 228);
  font-size: calc(1rem + 4px);
  font-weight: 400;
}

/*------------------------*/
/*container*/
body {
  max-width: 1300px;
  margin: auto;
}

/*nav*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.logo img {
  width: 55px;
  height: 55px;
}

.logo-text {
  font-size: 32px;
}

.menu ul {
  display: flex;
}
.menu ul li {
  list-style: none;
}
.menu ul li:first-child a {
  color: var(--orange);
}
.menu ul li:nth-child(2) a {
  color: var(--blue);
}
.menu ul li:nth-child(3) a {
  color: var(--aqua);
}
.menu ul li:last-child a {
  color: var(--purple);
}

.menu a {
  text-decoration: none;
  margin-right: 2rem;
  /*usually html=16px. So, 2rem=16*2=32px*/
  font-size: calc(1rem + 4px);
  font-weight: 500 !important;
}
.contact-btn .btn {
  background-color: var(--orange);
}
.contact-btn .btn a {
  color: white;
}

/*header*/
header {
  display: flex;
  align-items: center;
  gap: 5rem;
}
.empower > h2 {
  /* font-size: 48px; */
  font-size: 3rem;
  margin-bottom: 20px;
}
.empowering-text {
  color: var(--orange);
}
.towards-text {
  color: var(--blue);
}
.empower p {
  font-size: calc(1rem + 4px);
  font-weight: 400;
}
.enroll-btn {
  background-color: black;
}

/*curriculum*/
.curriculum h3 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 5rem;
  margin-top: 5rem;
}
.curriculum-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: calc(2rem - 4px);
}
.c-block-1,
.c-block-2,
.c-block-3 {
  text-align: center;
}
.curriculum-block h4 {
  font-size: calc(1rem + 9px) !important;
}
.curriculum-block p {
  font-size: 1rem;
  font-weight: 200px;
  color: #808080;
}
.curriculum-block img {
  width: 35%;
  height: 30%;
}
.curriculum-block .c-block-1 a {
  color: var(--blue);
  font-size: 15px;
}
.curriculum-block .c-block-2 a {
  color: var(--orange);
  font-size: 15px;
}
.curriculum-block .c-block-3 a {
  color: var(--purple);
  font-size: 15px;
}
.slideshow-arrow {
  display: grid;
  grid-template-columns: repeat(2, 1rem);
  justify-content: center;
  margin-top: 4rem;
  gap: 3rem;
}
.slideshow-arrow span {
  border-radius: 50%;
  background-color: var(--orange);
  color: white;
  padding: calc(1rem - 5px) calc(1rem + 6px);
  font-weight: 800;
  font-size: 1.5rem;
}
.curriculum-block div {
  border-radius: calc(1rem + 1.26px);
}
.curriculum-block > div:first-child {
  background: linear-gradient(to bottom, #def5ff, transparent, 50%, white 200%);
  padding: 3rem;
  border-radius: calc(1rem + 2.86px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 6px 6px rgba(0, 0, 0, 0.05);
}

.curriculum-block > div:nth-child(2) {
  background: linear-gradient(to bottom, #fff4dc, transparent, 50%, white 200%);
  padding: 3rem;
  border-radius: calc(1rem + 2.86px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 6px 6px rgba(0, 0, 0, 0.05);
}

.curriculum-block > div:last-child {
  background: linear-gradient(to bottom, #eee1ff, transparent, 50%, white 200%);
  padding: 3rem;
  border-radius: calc(1rem + 2.86px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 6px 6px rgba(0, 0, 0, 0.05);
}

/*stories*/
.stories h3 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 5rem;
  margin-top: 5rem;
}
/*FOR GRID AREA START*/
.one_fun {
  grid-area: one_fun;
}
.two_find {
  grid-area: two_find;
}
.three_summer {
  grid-area: three_summer;
}
.four_classroom {
  grid-area: four_classroom;
}
.five_conversation {
  grid-area: five_conversation;
}
.for_grid_area {
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "one_fun  two_find       three_summer"
    "one_fun  four_classroom five_conversation";
}
/*FOR GRID AREA END*/
.for_grid_area div {
  border-radius: 1rem;
  overflow: hidden;
  background-color: red;
}
.for_grid_area > div h5,
div p {
  padding: 0.5rem 0 0 0.5rem;
}

/* .one_fun img, */
.two_find img,
.three_summer img,
.four_classroom img,
.five_conversation img {
  width: 100%;
  height: 60%;
}
.for_grid_area > div:first-child h5 {
  font-size: 24px;
}
.for_grid_area > div:first-child p {
  font-size: 15.34px;
  font-weight: 300;
  color: #808080;
}

.for_grid_area > div:nth-child(2) h5,
.for_grid_area > div:nth-child(3) h5,
.for_grid_area > div:nth-child(4) h5,
.for_grid_area > div:nth-child(5) h5 {
  font-size: 15.34px;
  text-align: center;
}
.stories_btn {
  margin: 80px 0 60px 0;
  text-align: center;
}
.stories_btn button {
  background-color: black;
}
.for_grid_area > div:first-child h6 {
  background-color: var(--aqua);
  color: white;
  border-radius: 3rem;
  font-size: 14px;
  font-weight: 200;
  width: 30%;
  height: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*footer*/
