:root {
  --orange: #fea301;
  --blue: #01acfd;
  --aqua: #05d4df;
  --purple: #5d58ef;
}
body {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.btn {
  border: none;
  border-radius: 12px;
  padding: 10px 60px;
}
a {
  text-decoration: none;
  color: rgb(237, 228, 228);
  font-size: calc(1rem + 4px);
  font-weight: 400;
}

/*------------------------*/

.nav_container,
.header_container,
.curriculum,
.stories,
.footer_grid_block {
  max-width: 85%;
  margin: 0 auto;
  padding: 0;
}

/*nav*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.logo img {
  width: 55px;
  height: 55px;
}

.logo-text {
  font-size: 32px;
}

.menu ul {
  display: flex;
}
.menu ul li {
  list-style: none;
}
.menu ul li:first-child a {
  color: var(--orange);
}
.menu ul li:nth-child(2) a {
  color: var(--blue);
}
.menu ul li:nth-child(3) a {
  color: var(--aqua);
}
.menu ul li:last-child a {
  color: var(--purple);
}

.menu a {
  text-decoration: none;
  margin-right: 2rem;
  /*usually html=16px. So, 2rem=16*2=32px*/
  font-size: calc(1rem + 4px);
  font-weight: 500 !important;
}
.contact-btn .btn {
  background-color: var(--orange);
}
.contact-btn .btn a {
  color: white;
}

/*header*/
header {
  display: flex;
  align-items: center;
  gap: 5rem;
}
.empower > h2 {
  /* font-size: 48px; */
  font-size: 3rem;
  margin-bottom: 20px;
}
.empowering-text {
  color: var(--orange);
}
.towards-text {
  color: var(--blue);
}
.empower p {
  font-size: calc(1rem + 4px);
  font-weight: 400;
}
.enroll-btn {
  background-color: black;
}

/*curriculum*/
.curriculum h3 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 5rem;
  margin-top: 5rem;
}
.curriculum-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: calc(2rem - 4px);
}
.c-block-1,
.c-block-2,
.c-block-3 {
  text-align: center;
}
.curriculum-block h4 {
  font-size: calc(1rem + 9px) !important;
}
.curriculum-block p {
  font-size: 1rem;
  font-weight: 200px;
  color: #808080;
}
.curriculum-block img {
  width: 35%;
  height: 30%;
}
.curriculum-block .c-block-1 a {
  color: var(--blue);
  font-size: 15px;
}
.curriculum-block .c-block-2 a {
  color: var(--orange);
  font-size: 15px;
}
.curriculum-block .c-block-3 a {
  color: var(--purple);
  font-size: 15px;
}
.slideshow-arrow {
  display: grid;
  grid-template-columns: repeat(2, 1rem);
  justify-content: center;
  margin-top: 4rem;
  gap: 3rem;
}
.slideshow-arrow span {
  border-radius: 50%;
  background-color: var(--orange);
  color: white;
  padding: calc(1rem - 5px) calc(1rem + 6px);
  font-weight: 800;
  font-size: 1.5rem;
}
.curriculum-block div {
  border-radius: calc(1rem + 1.26px);
}
.curriculum-block > div:first-child {
  background: linear-gradient(to bottom, #def5ff, transparent, 50%, white 200%);
  padding: 3rem;
  border-radius: calc(1rem + 2.86px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 6px 6px rgba(0, 0, 0, 0.05);
}

.curriculum-block > div:nth-child(2) {
  background: linear-gradient(to bottom, #fff4dc, transparent, 50%, white 200%);
  padding: 3rem;
  border-radius: calc(1rem + 2.86px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 6px 6px rgba(0, 0, 0, 0.05);
}

.curriculum-block > div:last-child {
  background: linear-gradient(to bottom, #eee1ff, transparent, 50%, white 200%);
  padding: 3rem;
  border-radius: calc(1rem + 2.86px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 6px 6px rgba(0, 0, 0, 0.05);
}

/*stories*/
.stories h3 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 5rem;
  margin-top: 5rem;
}
/*FOR GRID AREA START*/
.one_fun {
  grid-area: one_fun;
  position: relative;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 6px 6px rgba(0, 0, 0, 0.05);
}
.two_find {
  grid-area: two_find;
  position: relative;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 6px 6px rgba(0, 0, 0, 0.05);
}
.three_summer {
  grid-area: three_summer;
  position: relative;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 6px 6px rgba(0, 0, 0, 0.05);
}
.four_classroom {
  grid-area: four_classroom;
  position: relative;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 6px 6px rgba(0, 0, 0, 0.05);
}
.five_conversation {
  grid-area: five_conversation;
  position: relative;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 6px 6px rgba(0, 0, 0, 0.05);
}
.for_grid_area {
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "one_fun  two_find       three_summer"
    "one_fun  four_classroom five_conversation";
}
/*FOR GRID AREA END*/
.for_grid_area div {
  border-radius: 1rem;
  overflow: hidden;
}
.for_grid_area > div h5,
div p {
  padding: 0.5rem 0 0 0.5rem;
}

/* .one_fun_block */
.two_find img,
.three_summer img,
.four_classroom img,
.five_conversation img {
  width: 100%;
  height: 60%;
}
.for_grid_area > div:first-child h5 {
  font-size: 24px;
}
.for_grid_area > div:first-child p {
  font-size: 15.34px;
  font-weight: 300;
  color: #808080;
  padding-top: 0;
}

.for_grid_area > div:nth-child(2) h5,
.for_grid_area > div:nth-child(3) h5,
.for_grid_area > div:nth-child(4) h5,
.for_grid_area > div:last-child h5 {
  font-size: 15.34px;
  text-align: left;
  padding: 0px 45px 38px 15px;
}
.stories_btn {
  margin: 80px 0 60px 0;
  text-align: center;
}
.stories_btn button {
  background-color: black;
  margin-top: 2rem;
}
.one_fun h6 {
  background-color: var(--aqua);
  color: white;
  border-radius: 3rem;
  font-size: 15.34px;
  font-weight: 200;
  width: 28%;
  height: 5%;
  display: flex; /*shudhumatro justify-content: center deoar jonno display:flex dichi*/
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 427px;
  right: 678px;
}
.two_find h6,
.three_summer h6,
.four_classroom h6,
.five_conversation h6 {
  background-color: #95b226;
  color: white;
  border-radius: 3rem;
  font-size: 15.34px;
  font-weight: 200;
  width: 50%;
  height: 8%;
  display: flex; /*shudhumatro justify-content: center deoar jonno display:flex dichi*/
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 185px;
  right: 165px;
}
/* golden gradient just before footer section */
.gradient_color {
  background: linear-gradient(to top, #fea10174, transparent 50%, white 600%);
  padding-bottom: 5rem;
}

/*footer*/
footer {
  background-color: #01acfd;
  margin: 0;
  padding: 124px 0 179px 0;
}
.footer_grid_block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10%;
}
.footer_logo {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2%;
}
.footer_logo img {
  width: 20%;
}
.footer_logo h4 {
  font-size: 2rem;
  color: white;
  margin: 0px;
}
.kids_education_1 p {
  color: white;
}
.about_school_2 h4 {
  font-size: calc(1rem + 8px);
  color: white;
}
.about_school_2 ul {
  padding: 0;
}
.about_school_2 ul li {
  list-style: none;
}
.about_school_2 ul li a {
  font-size: calc(1rem+1px);
  font-weight: 300;
  line-height: 2rem;
}
.keep_touch_3 h4 {
  font-size: calc(1rem + 8px);
  color: white;
}

/* Image absolute to the overall body */
.absolute_img_1 {
  position: absolute;
  top: 130%;
  right: 2%;
  opacity: 0.1;
  transform: rotate(45deg);
  width: 9%;
  z-index: -9999;
}
.absolute_img_2 {
  position: absolute;
  top: 50%;
  right: 53%;
  opacity: 0.1;
  transform: rotate(182deg);
  width: 9%;
  z-index: 999;
}
.absolute_img_3 {
  position: absolute;
  top: 250%;
  right: 3%;
  opacity: 0.5;
  transform: rotate(46deg);
  width: 9%;
}

/* Responsive Starts */
@media (max-width: 576px) {
  /* Universal */
  .absolute_img_1,
  .absolute_img_2,
  .absolute_img_3 {
    display: none;
  }
  button {
    border-radius: 8px !important;
    padding: 8px 28px !important;
  }
  button > a {
    font-size: 16px;
  }
  h3 {
    font-size: 30px !important;
  }
  p {
    font-size: 15px !important;
  }
  /* nav */
  .logo {
    display: flex !important;
    justify-content: space-between;
    width: 100%;
  }
  .menu,
  .contact-btn {
    display: none;
  }

  /* header */
  .header_container {
    display: flex;
    flex-direction: column;
  }
  .hero-kids {
    order: -1; /*for bringing the image from top to bottom*/
  }
  .hero-kids > img {
    width: 300px;
  }
  .empower {
    text-align: center;
  }
  .empower h2 {
    font-size: 2rem;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .empower p {
    font-size: 1rem;
  }

  /* standard curriclum */
  .curriculum-block {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  /* Stories */
  .one_fun {
    display: none;
  }
  .for_grid_area {
    grid-template-areas:
      "two_find        three_summer"
      "three_summer    three_summer"
      "four_classroom  five_conversation";
  }
  .for_grid_area h6 {
    display: none;
  }

  /* Footer */
  .footer_grid_block {
    display: block;
  }
  .about_school_2 h4,
  .keep_touch_3 h4 {
    font-size: 25px;
  }
  .about_school_2 ul li a {
    font-size: 16px;
  }
  footer {
    padding-bottom: 50px;
  }
}
